body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #FFF5E5; 
  color: #333;
}

header {
  background: #FFAD60; 
  color: white;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

main {
  max-width: 1000px;
  margin: 3rem auto;
  padding: 0 1rem;
}

.cards-wrapper {
  display: flex;
  grid-template-columns: repeat(2, 350px); 
  grid-template-rows: repeat(2, auto);  
  gap: 1rem;
  justify-content: center;
}

.card {
  background: white;
  border: 2px solid #FFC080;
  border-radius: 10px;
  padding: 1.5rem;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.card h3 {
  margin-top: 0;
  color: #FF6F61;
}

.button-wrapper{
    position: relative;
}

.map-btn {
  position: fixed;      
  top: 20px;           
  right: 20px;          
  padding: 0.6rem 1.5rem;
  background: #FF6F61;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-weight: 600;
  font-size: 1rem;
  transition: background 0.2s ease, transform 0.2s ease;
}

.map-btn:hover {
  background: #ff4f3f;
  transform: scale(1.05);
}


